.highlight {
  /* -webkit-text-decoration: underline;
  -webkit-text-decoration-color: #f4e842;
  text-decoration: underline;
  text-decoration-color: #f4e842; */

  border-bottom: 2px solid #f4e842;
  /* background: #f4e842; */
}

.highlight-fact {
  /* -webkit-text-decoration-color: #ff49bc;
  text-decoration-color: #ff49bc; */
  border-bottom: 2px solid #ff49bc;
  /* background: #ff49bc; */
}

.highlight-generalization {
  /* -webkit-text-decoration-color: #fcb423;
  text-decoration-color: #fcb423; */
  border-bottom: 2px solid #fcb423;
  /* background: #fcb423; */
}

.highlight-sentiment_positive_google {
  /* -webkit-text-decoration-color: #fcb423;
  text-decoration-color: #fcb423; */
  border-bottom: 2px solid green;
  /* background: #fcb423; */
}

.highlight-sentiment_negative_google {
  /* -webkit-text-decoration-color: #fcb423;
  text-decoration-color: #fcb423; */
  border-bottom: 2px solid red;
  /* background: #fcb423; */
}
